.page {
  --title-color: #404040;
  --subtitle-color: #4F5665;
  --white-color: #ffffff;
  --background-main-color: #ffffff;
  --background-secondary-color: #fafafa;
  --background-third-color: #F3F3F3;
  --main-color: #ec6e66;
  --main-light-color: #f59b91;
  --secondary-color: blue;
  --secondary-light-color: #939bfe;
  --border-card-color: #DDDDDD;
  color: var(--subtitle-color);
  box-sizing: border-box;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  position: relative;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  min-height: 100vh;
  background-image: url('../../images/rut1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, .6);
}
.container {
  max-width: 1280px;
  margin: 0px auto;
}