.main__title {
  margin: 0px auto;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  color: var(--white-color);
  text-align: center;
  max-width: 800px;
}
.main__list {
  margin: 20px auto 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1100px;
}
.main__item {
  margin-bottom: 40px;
  background-color: var(--white-color);
  border: 2px solid var(--border-card-color);
  box-sizing: border-box;
  border-radius: 10px;
  width: 300px;
  height: 275px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out;
  position: relative;
  overflow-y: hidden;
}
.main__item:hover {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
.main__item:nth-of-type(4) {
  margin-left: 150px;
}
.main__item:nth-of-type(5) {
  margin-right: 150px;
}
.main__item-question {
  width: 40px;
  height: 40px;
  background-image: url('../../images/question.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0;
  transition: .3s ease-in-out;
}
.main__item:hover .main__item-question {
  opacity: 1;
}
.main__item-img {
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: .3s ease-in-out;
}
.main__item-img_type_indicator {
  background-image: url('../../images/indicator-icon.png');
}
.main__item:hover .main__item-img_type_indicator {
  background-image: url('../../images/indicator-white-icon.png');
}
.main__item-img_type_finance {
  background-image: url('../../images/finance-icon.png');
}
.main__item:hover .main__item-img_type_finance {
  background-image: url('../../images/finance-white-icon.png');
}
.main__item-img_type_production {
  background-image: url('../../images/production-icon.png');
}
.main__item:hover .main__item-img_type_production {
  background-image: url('../../images/production-white-icon.png');
}
.main__item-img_type_personal {
  background-image: url('../../images/personal-icon.png');
}
.main__item:hover .main__item-img_type_personal {
  background-image: url('../../images/personal-white-icon.png');
}
.main__item-img_type_property {
  background-image: url('../../images/property-icon.png');
}
.main__item:hover .main__item-img_type_property {
  background-image: url('../../images/property-white-icon.png');
}
.main__item-name {
  margin: 20px 0px 0px 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
  transition: .3s ease-in-out;
}
.main__item:hover .main__item-name {
  color: var(--white-color);
}
.main__item-link {
  margin: 20px 0px 0px 0px;
  background-color: rgba(64,123,255,.1);
  color: var(--secondary-color);
  box-sizing: border-box;
  border: none;
  padding: 3px 10px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  text-align: center;
  transition: .3s ease-in-out;
  position: relative;
  text-decoration: none;
}
.main__item-link:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.main__item:hover .main__item-link {
  background-color: var(--main-color);
  color: var(--white-color);
}
.main__item-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-bottom: 40px;
  background-color: var(--white-color);
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  height: 275px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s ease-in-out;
  z-index: 5;
  overflow: hidden;
  padding: 0px;
  list-style-type: none;
}
.main__item-menu_type_show {
  top: 0px;
  left: 0px;
}
.main__item-menu_type_hide {
  top: -275px;
  left: 0px;
}
.main__close-menu {
  position: absolute;
  padding: 0;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
  background-image: url('../../images/close-button.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  transition: all .3s ease-in-out;
  outline: none;
  z-index: 2;
}
.main__close-menu:hover {
  cursor: pointer;
  opacity: .7;
}
.main__menu-item {
  padding: 10px 15px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin-bottom: 15px;
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
.main__menu-item:last-of-type {
  margin-bottom: 0px;
}
.main__menu-item:hover {
  cursor: pointer;
  opacity: .7;
}
.main__menu-img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.main__menu-link {
  text-decoration: none;
  color: var(--white-color);
  margin: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}